<h1> All student in Hogwarts </h1>


<table>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> House</th>
    <th> Age</th>
  </tr>
  <tr>
  <%for student in @students %>
  <td> <%= student.first_name %> </td>
  <td> <%= student.last_name %> </td>
  <td> <%= student.house %> </td>
  <td> <%= student.age %> </td>
</tr>
<%end%>
</table>
